@*@model IList<CMS.Domain.ViewModels.CustomerViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app="CustApp" ng-controller="CustCtrl">
    <h3><i class="fa fa-table"></i> 客戶資料</h3>
    <div ng-show="IsLoad" style="text-align:center;">
        <i class="fa fa-spinner fa-spin fa-3x"></i> 讀取中...
    </div>
    <table class="table table-bordered">
        <tr ng-repeat="Cust in Customers">
            <td>{{ Cust.CustomerID }}</td>
            <td>{{ Cust.CompanyName }}</td>
            <td>{{ Cust.ContactName }}</td>
        </tr>
    </table>
    <pre>目前頁數: {{ currentPage }} 總筆數: {{ totalRecords }}</pre>
    <pagination boundary-links="true"
                total-items="totalRecords"
                ng-model="currentPage"
                class="pagination-sm"
                previous-text="上一頁"
                next-text="下一頁"
                first-text="第一頁"
                last-text="最後一頁"
                ng-change="pageChanged()">
    </pagination>
    <div style="color:red;">
        {{ error }}
    </div>
</div>

<script>

    var app = angular.module('CustApp', ['ui.bootstrap']);

    var CustCtrl = function ($scope, $http) {
        $scope.IsLoad = true; //預設讀取中

        // 分頁參數
        $scope.totalRecords = 0;
        $scope.pageSize = 10; // 每頁筆數
        $scope.currentPage = 1; // 初始值，第一頁

        // 當有分頁
        $scope.pageChanged = function () {
            $scope.IsLoad = true;
            GetData();
        };

        var GetData = function () {
            // 取得客戶資料
            $http.get('/api/Customer', { params: { CurrPage: $scope.currentPage, PageSize: $scope.pageSize } })
            .success(function (response) {
                $scope.Customers = response.Data;
                $scope.totalRecords = response.Total;
                $scope.IsLoad = false; //讀取完畢,隱藏loading圖示
            })
            .error(function (data) {
                $scope.error = "取得資料錯誤!";
                $scope.IsLoad = false; //讀取完畢,隱藏loading圖示
            });
        };
        // Page Load的時候去要資料
        GetData();
    }
</script>



