@*@model IList<CMS.Domain.ViewModels.CustomerViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="/Customer" class="btn btn-primary">查詢</a>
<a href="/Customer/Add" class="btn btn-primary">新增</a>
<div ng-view></div>