@*@model IList<CMS.Domain.ViewModels.CustomerViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-app ng-controller="CustCtrl">
    <table>
        <tr ng-repeat="Cust in Customers">
            <td>{{ Cust.CustomerID }}</td>
            <td>{{ Cust.CompanyName }}</td>
            <td>{{ Cust.ContactName }}</td>
        </tr>
    </table>
    <div style="color:red;">
        {{ error }}
    </div>
</div>

<script>
    var CustCtrl = function($scope,$http)
    {
        // 取得客戶資料
        $http.get('/api/Customer').success(function (data) {
            $scope.Customers = data;
        })
        .error(function (data) {
            $scope.error = "取得資料錯誤!";
        });
    }
</script>



