@*@model IList<CMS.Domain.ViewModels.CustomerViewModel>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3><i class="fa fa-table"></i> 客戶資料</h3>
<hr />
<ul class="nav nav-pills">
    <li class="active"><a href="/Customer">查詢</a></li>
    <li class="active"><a href="/Customer/Add">新增客戶</a></li>
</ul>
<div ng-view style="margin-top:10px;"></div>