
<div class="panel panel-default">
    <div class="panel-body">
        <label for="CustomerID">客戶編號</label>
        <input type="text" class="form-control" id="CustomerID" ng-model="CustomerID">
        <label for="CompanyName">公司名稱</label>
        <input type="text" class="form-control" id="CompanyName" ng-model="CompanyName">
        <label for="ContactName">聯絡人</label>
        <input type="text" class="form-control" id="ContactName" ng-model="ContactName">
    </div>
    <input type="button" class="btn btn-primary" value="送出" ng-click="Add()" />
</div>
