
<span >{{ CurrTime }}</span>
<div class="container">
    <h3><i class="fa fa-table"></i> 今日訂單狀況</h3>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading c-list">
                    <span class="title">訂單排行榜</span>
                    <ul class="pull-right c-controls">
                        <li><a href="#cant-do-all-the-work-for-you" data-toggle="tooltip" data-placement="top" title="Add Contact"><i class="glyphicon glyphicon-plus"></i></a></li>
                        <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Toggle Search"><i class="fa fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>

                <div class="row" style="display: none;">
                    <div class="col-xs-12">
                        <div class="input-group c-search">
                            <input type="text" class="form-control" id="contact-list-search">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                            </span>
                        </div>
                    </div>
                </div>

                <ul class="list-group" id="contact-list">
                    <li class="list-group-item" ng-repeat="data in Datas">
                        <div class="col-xs-12 col-sm-3">
                            <img src="http://api.randomuser.me/portraits/men/49.jpg" alt="Scott Stevens" class="img-responsive img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-9">
                            <span class="name">{{ data.EmployeeName }}</span><br />
                            <span>職位 : {{ data.Title }}</span><br />
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="5842 Hillcrest Rd"></span>
                            <span class="visible-xs"> <span class="text-muted">5842 Hillcrest Rd</span><br /></span>
                            <span class="glyphicon glyphicon-earphone text-muted c-info" data-toggle="tooltip" title="(870) 288-4149"></span>
                            <span class="visible-xs"> <span class="text-muted">(870) 288-4149</span><br /></span>
                            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="scott.stevens@example.com"></span>
                            <span class="visible-xs"> <span class="text-muted">scott.stevens@example.com</span><br /></span>
                            <div>
                                目前訂單數:{{ data.OrderCount }}
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-6 ">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <span class="glyphicon glyphicon-comment"></span> Chat
                                <div class="btn-group pull-right">
                                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                        <span class="glyphicon glyphicon-chevron-down"></span>
                                    </button>
                                    <ul class="dropdown-menu slidedown">
                                        <li>
                                            <a href="http://www.jquery2dotnet.com">
                                                <span class="glyphicon glyphicon-refresh">
                                                </span>Refresh
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.jquery2dotnet.com">
                                                <span class="glyphicon glyphicon-ok-sign">
                                                </span>Available
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.jquery2dotnet.com">
                                                <span class="glyphicon glyphicon-remove">
                                                </span>Busy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="http://www.jquery2dotnet.com">
                                                <span class="glyphicon glyphicon-time"></span>
                                                Away
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                        <li>
                                            <a href="http://www.jquery2dotnet.com">
                                                <span class="glyphicon glyphicon-off"></span>
                                                Sign Out
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-body">
                                <ul class="chat">
                                    <li class="left clearfix" ng-repeat="m in Messages">
                                        <span class="chat-img pull-left">
                                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                        </span>
                                        <div class="chat-body clearfix">
                                            <div class="header">
                                                <strong class="primary-font">{{ m.Name }}</strong> <small class="pull-right text-muted">
                                                    <span class="glyphicon glyphicon-time"></span>{{ m.Time }}
                                                </small>
                                            </div>
                                            <p>
                                               {{ m.Message }}
                                            </p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="btn-input" type="text" ng-model="Msg" class="form-control input-sm" placeholder="Type your message here..." />
                                    <span class="input-group-btn">
                                        <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="SendMessage()">
                                            Send
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <ul>
                    <li ng-repeat="t in test">{{ t.ContactName }}</li>
                </ul>
            </div>

        </div>
    </div>

</div>